@font-face {
    font-family: china;
    src: url('3856NeueMachina.woff2');
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: china;

}
body,html{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
/*nav section1*/
.section1{
    overflow-x: hidden;
}
.section2{
    overflow-x: hidden;
}
.section3{
    overflow-x: hidden;
}
.section4{
    overflow-x: hidden;
}
.section5{
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
}
nav h1{
    font-size: 3vw;
   
}
nav h4{
    font-size: 1.5vw;
    font-weight: 500;
}
nav svg{
    width: 4vw;
    transform: rotate(45deg);
}
.part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
 
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
.part2 button{
    padding: 1vw 2vw;
    width: 13vw;
    border-radius: 10px;
    font-size: 1vw;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 600;
}

/*center section1*/
.center{
  
    width: 100%;
    height: 85%;
    display: flex;
    padding: 4vw;

}
.center-part1{
  
    height: 100%;
    width: 40%;
}
.center-part1 h1{
    line-height: 1.3;
    font-size: 3.5vw;
    font-family: china;
}
.center-part1 p{
    font-size: 1.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.center-part1 button{
    background-color: black;
    border-radius: 15px;
    border: none;
    padding: 1vw 2vw;
    color: white;
    font-size: 1.5vw;
}
.center-part2{
    display: flex;
align-items: center;
justify-content: center;
    height: 100%;
    width: 60%;
   
}
.center-part2 img{

width: 40vw;

}
/* sectionbottom section1*/
.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 10vw;
}
.section1bottom img{
    height: 5vw;

}

/*SECTION2*/


.section2-part1{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2vw 6.5vw;
    gap: 2vw;
}
.section2-part1 h3{
    background-color: #B9FF66;
    padding: 5px;
    font-size: 2vw;
    font-family: china;
    border-radius: 7px;
}
.section2-part1 p{
    width: 50%;
    font-size: 1.1vw;
}

.section2-part2{
    
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   flex-wrap: wrap;
 padding: 20px;

}
.elem{
    flex-shrink: 0;
    height: 35vh;
    width: 40vw;
    
   margin: 10px;
   padding: 2vw;
   border: 3px solid black;
   box-shadow: 0px 10px 0px black;
    border-radius: 20px;
    display: flex;
}
.elem-part1{
 
    display: flex;
    align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}
.elem-part1 h1{
   
    width: 77%;
    font-size: 1.5vw;
    border-radius: 10px;
    background-color: #B9FF66;
   

}
.elem-part1 h3{
   display: flex;
   align-items: center;
 font-size: 1.3vw;

gap: 10px;  
font-weight: 600;
   

}
.elem-part1 i{
display: inline-block;
background-color: black;
padding: 0.4vw;
color: white;
border-radius: 50%;
font-size: 1.5vw;
}
.elem-part2{
    display: flex;
align-items: center;
justify-content: center;
width: 50%;
}
.elem-part2 img{
width: 15vw;
}
.black{
    background-color: black;
    color: white;
}
.black i{
    background-color: white;
    color: black;
    font-weight: 800;
}
.black h3{
   
    font-weight: 500;
}
.black h1{
   
   background-color: white;
   color: black;
}
.green i{
    background-color: black;
color: #B9FF66;

}
/*SECTION 3*/
.section3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#F3F3F3;
    margin: 6vw;
    padding: 3vw;
    border-radius: 40px;
}
.section3-part1{
    display: flex;
    gap: 3vw;
    width: 40%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.section3-part2{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
}
.section3-part2 img{
    width: 25vw;
}
.section3-part1 h3{
font-size: 2vw;
}
.section3-part1 h4{
    font-size: 1.2vw;
    font-weight: 500;
}
.section3-part1 button{
    background-color: black;
    border-radius: 15px;
    border: none;
    padding: 1vw 2vw;
    color: white;
    font-size: 1.3vw;
}
/*SECtion 4*/
.section4{
    background-color: #000000;
    display: flex;
    margin: 6vw;
    padding: 5vw 2vw;
    border-radius: 50px;
color: rgb(202, 201, 201);
    justify-content: center;
   
    align-items: center;
}
.section4box{
    height: 180px;
    padding: 1.5vw;
    gap: 20px;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
    border-right: 1px solid rgb(255, 255, 255);
}
.lastbordernone{
    border: none;
}
.section4box i{
    color: #B9FF66;

}
.section4box h3{
    font-size: 2vw;
    color: #B9FF66;
    font-weight: 500;
}
.section4box p{
    font-size: 1.3vw;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1vw;
    background-color: #000000;
    color: #B9FF66;
    padding: 2vw;
    border-radius: 40px 40px 0px 0px;
}
footer h1{
    font-weight: 400;
}

@media only screen and (max-width:500px)  {
    .section2-part2{
        flex-wrap: nowrap;
        flex-direction: column;
    }
  .section4{
    height: 130px;
    overflow-y: hidden;
  }
  .section3{
    overflow-x: hidden;
  }
  .section4{
    overflow-x: hidden;
  }
}